body{
    background-color:rgb(19, 18, 20);
    color: #fff;
    font-family: "Roboto";
    margin: 0px;
    width: 100%;
    height: 945px;
    display: grid;
    place-items: center;
}
table{
    padding: 20px;
    width: 600px;
    height: 500px;
    border-collapse: collapse;
}
h1{
    font-size: 30px;
}
.one{
    font-size: 20px;
}
.special{
    background-color: rgba(89, 46, 206, 0.589);
}
th{
    padding: 20px;
    margin: 0 auto;
    color: rgb(203, 193, 231);
}