:root{
    --color: ;
}
body{
    background-color:rgb(19, 18, 20);
    color: #fff;
    font-family: "Roboto";
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
h1{
    font-family: "Oswald";
    color: white;
}
.pesquisa{
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: 200px 4px;
    background-color:rgb(88, 89, 99);
    border: 0px;
    border-radius: 15px;
    padding: 8px;
    padding-left: 25px;
    width: 100%;
    font-size: 14px;
}
.pesquisa::placeholder{
  color: white;}

.right-header{
    display: flex;
}
.right-header img{
    width: 30px;
    padding-right: 5px;
}