.left{
    max-width: 158px;
    height: 854px;
    padding: 25px;
    padding-top: 10px;
    border-right: var(--cinsa-cancel) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seta-left{
    display: flex;
    align-items: start;
    justify-content: end;
    margin-bottom: 5px;
}
.botoes-left button{
    background-color: #fff;
    border: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0px;
    width: 154px;
}
.button-sair{
    margin-top: 40px;
}
.botoes-left .button-especial{
    background-color: var(--blue-cinsa);
}
.img-button, .img-azul{
    padding: 8px;
}
.img-azul{
    background-color: var(--blue-escuro-left);
}
.text-button, .text-cinsa{
    color: var(--blue-escuro-left); 
    font-family: var(--font-left-center);
    font-size: 16px;
    margin-left: 8px;
}
.baixo{
    border-top: var(--cinsa-cancel) 1px solid;
    padding-top: 35px;
}